<!--<h1 align="center">Simple Chatbot testing</h1>-->

<div>
 <font size="5px"align="center" style="float: left; width: 70%; border-bottom: 2px solid black; ">챗봇 구현</font>
   <form action="/chat/new" style="float: right; width: 30%; border-bottom: 2px solid black;">
     <input type="submit"  class="btn btn-warning" value="학습  시키기">
     </form>
</div>
<!--<div class="background" style="background-image:URL(<%= asset_path 'iphone_s.png' %>); background-repeat: no-repeat; background-position: center center; height: 500px; width: auto; ">-->


    
    <!--<div class="iphone" style="width:470px; height:955px;">-->
    <!--450-->
    <div class="main"  style="width:100%; height:446px; overflow-y:scroll; overflow-x:hidden;">
       
    
            <table class="chat" width="100%" border="0" cellspacing="0" cellpadding="0">
        
            <% Chat.all.each do |c| %>
            <%if c.is_man==true%>
            
            <tr>
            <td>
            <img src="/assets/man.png" height="30" width="30" align="center">
            <p class="balloon"><%=c.content%></p>
            </td>
            </tr>
            <%else%>
            
            <tr align="right">
            <td align="right">
            <p class="balloon" ><%=c.content%></p>
            <img src="/assets/com.ico" height="30" width="30" align="center">
            </td>
            </tr>
            <%end%>
            
            <%end%>
            
        </table>
    </div>
    
    <!--</div>-->
  
    
    <form action="/chat/create">
    <input type="text" name="content" class="form-control" style="float: left; width: 80%;">
    <input type="submit"  class="btn btn-success" value="입력" style="float: left; width: 20%;">
    </form>
    
     
     
      <form action="/chat/destroy">
     <input type="submit"  class="btn btn-danger btn-xm" style="width:100%;" value="대화 종료">
     </form>



