<div align="center" class="col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
<h1>가르치기</h1>
<form action='/chat/learn'>
    
    알려주고싶은말
  
    <input type="text" name="ask" class="form-control" placeholder="알려주고싶은말..">
    <br>
    그에 대한 답
    <input type="text" name="answer" class="form-control" placeholder="그에 대한답.."><br>
    <input class="btn btn-warning" style="width:100%;" type="submit">

</form>
</div>